#navbar{
   padding: 15px;
}
#navbar h5{
    color: #0076BC;
    margin:0;
    

}
#navbar span{
    color: #00A8D3;
}
.logo_text{
    margin: 0;
    font-size: 11px;
    color: #ccc;
}
.Entrar_btn{
    border: 2px solid #0076BC;
    border-radius: 20px;
    padding: 1px 15px 2px;
    background: white;
    color: #0076BC;
    font-weight: 500;
}
.Registrase_btn{
    border-radius: 20px;
    background: #0076BC;
    color: white;
    border: 1px solid #0076BC;
    padding: 1px 15px 2px;
}
.text_header{
    margin-top: 64px;
    margin: 3px 0 0;
    color: #0076BC;
    font-weight: 500;
}
.bi-plus-lg{
    font-weight: 900 !important;
}
.logo_header{
    max-height: 50px;
}
