<div id="navbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-5">
              <img class="logo_header" src="../../../assets/Img/Directio.png" alt="">
            </div>
            <div class="col-lg-4 col-md-7 d-flex justify-content-evenly mt-2 d-flex justify-content-evenly mt-2">
             <div>
                <p class="text_header"><i class="bi bi-plus-lg"></i>Anadri empresa</p>

             </div>
             <div>
                <button class="Entrar_btn">Entrar</button>
             </div>
             <div>
                <button class="Registrase_btn">Registrase</button>
             </div>
            </div>
        </div>
    </div>
</div>
