<div id="navbar" [ngStyle]="blue ? { 'background': '#252772' } : {}">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-5 col-4">
              <img *ngIf="!blue" class="logo_header" [routerLink]="['/']" routerLinkActive="router-link-active"  src="../../../assets/Img/Directio.png" alt="">
              <img *ngIf="blue" class="logo_header" [routerLink]="['/']" src="../../../assets/Img/logo.png" alt="">
            </div>
            <div class="col-lg-5 col-md-7 col-8 d-flex justify-content-evenly mt-md-2">
             <div>
                <p class="text_header"><i class="bi bi-plus-lg"></i>Anadri empresa</p>
             </div>
             <div>
                <button class="Entrar_btn" [ngStyle]="blue ? { 'background': '#252772' } : {}" [routerLink]="['/pages/screen1']">Entrar</button>
             </div>
             <div>
                <button class="Registrase_btn" [routerLink]="['/pages/description']">Registrase</button>
             </div>
            </div>
        </div>
    </div>
</div>
