<div class="container mt-3">
  <div class="input-group">
    <select class="form-select  grey-background select_input">
      <option selected>Nombre o Rozon social</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <div class="buscar_input">
      <input type="text" class="form-control placeholder-blue  Buscarr" placeholder="Buscar">

    </div>
    <div class="position-relative donde_div">
      <span> <i class="bi bi-geo-alt location_icon search_input"></i></span>
    

      <input type="text" class="form-control placeholder-blue Buscarr2 ps-5" placeholder="&#191;D&#768;onde?">

    </div>
    <button class="btn btn-primary search" type="button"><i class="bi bi-search"></i></button>
  </div>
</div>
<div class="row m-0">
    <div class="col-lg-11 p-0"><div class="main_div mt-md-5" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 sidebar mt-4">
                    <div class="sidebar_top">
                        <img src="../../../assets/Img/monster.png" class="monster_Img mt-3 mb-2" alt="">
                        <h5 class="mt-0">EL DEALEAR AUTORIZADO MOVISTAR E.I.R.L</h5>
                        <p class="m-0">RUC:20481701180</p>
                        <p class="m-0"><i class="bi bi-geo-alt"></i>Lima</p>
                    </div>
                    <div class="btn_div mt-4">
                        <button class="mensaje_btn">Mensaje</button>
                        <button class="Guardar_btn">Guardar</button>
                        <button class="heart_btn"><i class="bi bi-heart-fill"></i></button>
                    </div>
                   <div class="mt-4 table_div ms-3">
                    <h5>Vistas:50</h5>
                    <h5>Reacciones 15</h5>
                    <table class="mb-3">
                        <tr>
                            <td>Mo&#768;vil</td>
                            <td>: +51 939086059</td>
                        </tr>
                        <tr>
                            <td>tele&#768;fono(s)</td>
                            <td>: +51 01 5427401</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>: contacto&#64;movistar.pe</td>
                        </tr>
                        <tr>
                            <td>Sitio</td>
                            <td>: dealer.movistar.pe</td>
                        </tr>
                        <tr>
                            <td>Direccio&#768;n</td>
                            <td>: <span class="highlight">Gran Via, 28, Lima-Per&#768;u</span></td>
                        </tr>
                      <br>
                        <tr>
                            <td>Inicio</td>
                            <td>: 31/12/2009</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>: Activo</td>
                        </tr>
                        <tr>
                            <td>Tipo</td>
                            <td>: Empresa Individual con Reponsabilidad Limitada.</td>
                        </tr>
                    </table>
                   </div>
                   <div class=" banner">
                    <img class="img-fluid align-content-end" src="../../../assets/Img/banner2.png" alt="">
                </div>
                </div>
                <div class="col-lg-9 col-md-7 mt-4 p-0 desc">
                    <div class="container main_content">
                      <div class="ms-3">
                        <h5>Descripción:</h5>
                        <p class="main_des_p">Segunda Linea es un servicio de telecomunicaciones que ofrece la
                          posibilidad de instalar número de teléfono virtual en el teléfono móvil sin
                           necesidad de comprar otro o contar con doble SIM. En este sentido , el servicio 
                           o de número virtual sirve para combinar la vida laboral y personal, contar
                          con dos lineas de whatsapp, protección en aplicaciones o cor opción económica para misma SIM.</p>
                      </div>
                      <hr>
                      <div class="ms-3">
                        <h6 class="d-inline">Actividad(es):</h6>
                        <p class="grey_desc">Actividades académicas y de enseñanza</p>
                        <h6 class="mt-2">Clase 1</h6>
                        <p class="class1_des">Productos quimicas industria, la ciencia y la fotografía la agricultura, la horticultura v
                            la silvicultura; resinas artificiales en bruto, meteries plásticas en bruto; abonos para el 
                            suelo; composiciones extintoras; preparaciones para templar y soldar metales; productos químicos 
                           para conservar alimentos; materias curtientes: adhesivos (pegamentos) para la industria.</p>
                           
                      </div>
                      <hr>
                                <div class="accordion" id="accordionExample">
                                    <!-- Accordion Item 1 -->
                                    <div class="accordion-item">
                                      <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          <h5>Representantes Legales</h5>
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                          
                                          <table class="table">
                                            <tr>
                                              <td class="m-0 bold_text">GERENTE GENERAL</td>
                                              <td class="m-0 normalgrey_text">CRUCES LIBERT CESAR DOMINGO</td>
                                              <td class="m-0 normalgrey_text">30/03/2015</td>
                                            </tr>
                                            <tr>
                                              <td class="m-0 bold_text">APODERADO</td>
                                              <td class="m-0 normalgrey_text">CRUCES LIBERT CESAR DOMINGO</td>
                                              <td class="m-0 normalgrey_text">30/03/2015</td>
                                            </tr>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  <hr>
                                    <!-- Accordion Item 2 -->
                                    <div class="accordion-item">
                                      <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          <h5>Cantidad de trabajadores y o prestadores de servicios</h5>
                                        </button>
                                      </h2>
                                      <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                          <div class="table_period table-responsive"> <table class="table table-bordered text-center">
                                            <thead class="table-header">
                                              <tr>
                                                <th scope="col" class="fw-semibold">PERIODO</th>
                                                <th scope="col">Nº TRABAJADORES</th>
                                                <th scope="col">Nº PENSIONISTAS</th>
                                                <th scope="col">Nº PRESTADORES DE SERVICIO</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td class="text-center">2009-10</td>
                                                <td>4</td>
                                                <td>0</td>
                                                <td>2</td>
                                              </tr>
                                              <tr>
                                                <td>2009-11</td>
                                                <td>5</td>
                                                <td>0</td>
                                                <td>2</td>
                                              </tr>
                                              <tr>
                                                <td>2009-12</td>
                                                <td>6</td>
                                                <td>0</td>
                                                <td>2</td>
                                              </tr>
                                            </tbody>
                                          </table></div>
                                         
                                        </div>
                                      </div>
                                    </div>
                                  <hr>
                                    <!-- Accordion Item 3 -->
                                    <div class="accordion-item">
                                      <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          <h5>Establecimientos Anexos</h5>
                                        </button>
                                      </h2>
                                      <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample3">
                                        <div class="accordion-body">
                                          <ul>
                                            <li class="normalgrey_text">CAR. PANAMERICANA SUR FND. LAS ARENAS KM. 272/ICA-ICA-SALAS</li>
                                            <li class="normalgrey_text">AV. PRODUCCION NACIONAL NRO, 144/LIMA-LIMA-CHORRILLOS</li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                 
                                
                                
                                
                                
                    </div>
                    <div class="word-scroll-container mt-4 mb-5">
                      <button class="scroll-button" (click)="previous()"><i class="bi bi-chevron-left"></i></button>
                      <div class="words-container">
                        <div *ngFor="let word of currentWords" class="word">{{ word }}</div>
                      </div>
                      <button class="scroll-button" (click)="next()"><i class="bi bi-chevron-right"></i></button>
                    </div>
                      <img class="img-fluid" src="../../../assets/Img/banner1.png" alt="">
                </div>
            </div>
        </div>
        
        </div></div>
    <div class="col-lg-1 banner2 align-content-start mt-5">
        <img src="../../../assets/Img/banner3.png" class="img-fluid" alt="">
    </div>
</div>
<div>
    <div class="container mt-4">
        <div class="row">
           
            <div class="col-md-9 mb-2 align-content-end">
              
            </div>
        </div>
    </div>
</div>


