.input-group .form-select.grey-background {
  background-color: #EDEDF4 !important;
  font-weight: 500 !important;
}
.placeholder-blue::placeholder {
  color:#0076BC;
}
.search{
  background: #252772;
  border-color: #252772;
font-size: 22px;
}
.input-group{
  height: 50px;
}
  .main_div{
    background-color: #fafafa;
  }
  .sidebar_top{
    width: 80%;
    margin: auto;
    text-align: center;

  }
  .sidebar_top p{
color: grey;
  }
  .btn_div{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 10px;
  }
  .mensaje_btn{
        background: white;
        color: #252772;
        font-weight: 500;
        border: 2px solid #252772;
        border-radius: 5px;
  }
  .Guardar_btn{
    background: #252772;
    color: white;
    border: 1px solid #252772;
    border-radius: 6px;
  }
  .heart_btn{
    background: none;
    border: none;
    color: #0077BD;
    font-size: 20px;
  }
  .table_div h5{
color: #252772;
  }
 .table_div table{
     color: grey;
     font-size: 15px;
 }
 .highlight{
    color: #0077BD;
 }
 .sidebar{
    background-color: white;
 }
 .table_div h5{
font-size: 18px;
 }
 .main_content h5{
color: #3b3ea3;
 }
 .main_des_p{
    color: #3b3ea3;
    font-size: 14px;
    font-weight: 500;
 }
 .main_content h6{
    color: #0077BD;
 }
 .monster_Img{
  width: 160px;
    border-radius: 100%;
 }
 .grey_desc{
  display: inline;
  font-size: 13px;
  color: grey;
  margin-left: 31px;
 }
 .class1_des{
  font-size: 14px;
    color: grey;
 }
 .bold_text{
  color: grey;
 }
 .bold_text{
  color: grey;
  font-weight: 600;
  font-size: 15px;
}
.normalgrey_text{
  color: grey;
  font-size: 15px; 
}
.table-header {
  background-color: #f2f2f2; /* Grey background color */
}
.table-header th {
  text-align: center; /* Center align text in header */
  font-weight: 400;
  font-size: 15px;
  color:grey
}
.table td {
  font-size: 14px;
  color: grey;
}
.table-bordered {
  border: 1px solid #dee2e6; /* Ensure borders are 1px solid and a light color */
}
.table{
  --bs-table-bg: inherit !important;
}

.panel-heading {
  cursor: pointer;
}
.panel-heading:hover {
  background-color: #f5f5f5; /* Light grey background on hover */
}


.accordion-item:first-of-type > .accordion-header .accordion-button {
   border-top-left-radius: 0;
   border-top-right-radius:0
}
.accordion-button{
   color: inherit;
   background-color: #fafafa;
   box-shadow: none;
}
.accordion-body {
  background: #fafafa;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0;
}
.table_period{
  min-width: 350px;
  overflow: scroll;
}
.accordion-item {
border: none;
}
.word-scroll-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.words-container {
  display: flex;
  overflow: hidden;
}

.word {
  flex: 0 0 auto;
  width: auto;
  text-align: center;
  padding: 8px 15px;
  border: 2px solid #ccc;
  margin: 0 7px;
  border-radius: 7px;
  font-weight: 600;
  color: #5e5555;
}

.scroll-button{
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #252772;
  color: white;
  background: #252772;
  font-size: 20px;
  padding: 5px;
}

.scroll-button:hover {
  background-color: #e0e0e0;
}

@media  screen and (max-width: 768px) {
.banner{
  display: none;
}
.desc{
  padding-left: 10px;
}
.monster_Img {
  width: 140px;
  border-radius: 100%;
}
.words-container {
  display: flex;
  overflow: scroll;
}
.scroll-button{
  display: none;
}
}
@media  screen and (max-width: 992px) {
  .banner2{
    display: none;
  }
}