<div class="container">
    <div class="input-group">
        <select class="form-select">
          <option selected>Nombre o Rozon social</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <input type="text" class="form-control placeholder-blue" placeholder="Buscar">
        <input type="text" class="form-control placeholder-blue" placeholder="&#191;D&#768;onde?">
        <button class="btn btn-primary search" type="button"><i class="bi bi-search"></i></button>
      </div>
      
      
</div>
<div class="main_div mt-5" >
<div class="container">
    <div class="row">
        <div class="col-3 sidebar mt-4 mb-4">
            <div class="sidebar_top">
                <img src="../../../assets/Img/monster.png" class="monster_Img mt-3 mb-2" alt="">
                <h5 class="mt-0">EL DEALEAR AUTORIZADO MOVISTAR E.I.R.L</h5>
                <p class="m-0">RUC:20481701180</p>
                <p class="m-0"><i class="bi bi-geo-alt"></i>Lima</p>
            </div>
            <div class="btn_div mt-4">
                <button class="mensaje_btn">Mensaje</button>
                <button class="Guardar_btn">Guardar</button>
                <button class="heart_btn"><i class="bi bi-heart-fill"></i></button>
            </div>
           <div class="mt-4 table_div ms-3">
            <h5>Vistas:50</h5>
            <h5>Reacciones 15</h5>
            <table>
                <tr>
                    <td>Mo&#768;vil</td>
                    <td>: +51 939086059</td>
                </tr>
                <tr>
                    <td>tele&#768;fono(s)</td>
                    <td>: +51 01 5427401</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>: contacto&#64;movistar.pe</td>
                </tr>
                <tr>
                    <td>Sitio</td>
                    <td>: dealer.movistar.pe</td>
                </tr>
                <tr>
                    <td>Direccio&#768;n</td>
                    <td>: <span class="highlight">Gran Via, 28, Lima-Per&#768;u</span></td>
                </tr>
              <br>
                <tr>
                    <td>Inicio</td>
                    <td>: 31/12/2009</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>: Activo</td>
                </tr>
                <tr>
                    <td>Tipo</td>
                    <td>: Empresa Individual con Reponsabilidad Limitada.</td>
                </tr>
            </table>
           </div>
        </div>
        <div class="col-9 mt-4">
            <div class="container main_content">
                <h5>Descripción:</h5>
                <p class="main_des_p">Segunda Linea es un servicio de telecomunicaciones que ofrece la
                     posibilidad de instalar número de teléfono virtual en el teléfono móvil sin
                      necesidad de comprar otro o contar con doble SIM. En este sentido , el servicio 
                      o de número virtual sirve para combinar la vida laboral y personal, contar
                     con dos lineas de whatsapp, protección en aplicaciones o cor opción económica para misma SIM.</p>
                     <hr>
                     <h6>Actividad(es)</h6>
                     <p>Actividades académicas y de enseñanza</p>
                     <h6>Clase 1</h6>
                     <p>Productos quimicas industria, la ciencia y la fotografía la agricultura, la horticultura v
                         la silvicultura; resinas artificiales en bruto, meteries plásticas en bruto; abonos para el 
                         suelo; composiciones extintoras; preparaciones para templar y soldar metales; productos químicos 
                        para conservar alimentos; materias curtientes: adhesivos (pegamentos) para la industria.</p>
                        <h6>Representantes Legales</h6>
                        <div class="row">
                          <div class="col-4">
                            <p>GERENTE GENERAL</p>
                            <p>APODERADO</p>
                          </div>
                          <div class="col-4">
                            <p>CRUCES LIBERT CESAR DOMINGO</p>
                            <p>CRUCES LIBERT CESAR DOMINGO</p>
                          </div>
                          <div class="col-4">
                            <p>30/03/2015</p>
                            <p>30/03/2015</p>
                          </div>
                        </div>
                        <hr>
                        <h6>Cantidad de trabajadores y o prestadores de servicios</h6>
                        <table>
                            <tr>
                                <th>PERIODO </th>
                                <th>N
                                    TRABAJADORES</th>
                                    <th>N' PENSIONISTAS</th>
                                    <th>N' PRESTADORES </th>
                                    <th>DE SERVICIO</th>
                            </tr>
                            <tr>
                                <td>2009-10</td>
                                <td>4</td>
                                <td>0</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>2009-11</td>
                                <td>5</td>
                                <td>0</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>2009-12</td>
                                <td>6</td>
                                <td>0</td>
                                <td>2</td>
                            </tr>
                        </table>
                        <hr>
                        <h6>Establecimientos Anexos</h6>
                        <ul>
                            <li>CAR. PANAMERICANA SUR FND. LAS ARENAS KM. 272/ICA-ICA-SALAS</li>
                            <li>AV. PRODUCCION NACIONAL NRO, 144/LIMA-LIMA-CHORRILLOS</li>
                        </ul>
            </div>
        </div>
    </div>
</div>

</div>