.input-group .form-select.grey-background {
  background-color: #EDEDF4 !important;
  font-weight: 500 !important;
}
.placeholder-blue::placeholder {
  color:#0076BC;
}
.search{
  background: #252772;
  border-color: #252772;
font-size: 22px;
}
.input-group{
  height: 50px;
}

.nav-tabs {
     background-color: #FAFAFA;
     --bs-nav-tabs-border-radius:none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs  {
    background-color: #fafafa !important;
    border-color: var(--bs-nav-tabs-link-active-border-color);
    color: grey;
}
.nav .nav-tabs.nav-link.active{
  color: #0076BC !important;
  background-color: #EDEDF4 !important;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-tabs .nav-links.active{
  border: none !important;;
}
.nav-tabs .nav-link {
  padding: 15px 30px;
  color: grey;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: #e6dddd;
  border-color: var(--bs-nav-tabs-link-active-border-color);
  color: #0076BC;
  border: 0;
}
.word-scroll-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .words-container {
    display: flex;
    overflow: hidden;
  }
  
  .word {
    flex: 0 0 auto;
    width: auto;
    text-align: center;
    padding: 8px 15px;
    border: 2px solid #ccc;
    margin: 0 7px;
    border-radius: 7px;
    font-weight: 600;
    color: #5e5555;
    
}
  
.scroll-button{
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #252772;
    color: white;
    background: #252772;
    font-size: 20px;
    padding: 5px;
}
  
  .scroll-button:hover {
    background-color: #e0e0e0;
  }
  
  .sidebar{
    padding: 1px 20px 12px 30px;
}
.loaction_icon{
        font-size: 25px;
        margin-right: 10px;
}
.Grey_bold_text{
        color: grey;
        font-weight: 500;
}
.blue_bold_text{
        color: #0076BC;
        font-weight: 500;
}
.checkbox-cell {
    width: 15%; /* Adjust width for the checkbox cell */
  }
.checkbox-cell input{
    height: 25px;
}
  .text-cell {
    width: 65%; /* Adjust width for the text cell */
    padding: 0px 10px;
  }
  .number-cell {
    width: 20%; /* Adjust width for the number cell */
  }
  .table_checkbox{
    max-height: 300px;
    overflow-y: scroll;
  }
  .leftPart{
    background-color: #fafafa;
  }
  .form-select{
    background-color: inherit !important;;
  }
  .Pagination_div {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 70px;
    background-color: #fafafa;
}

.font_13{
  font-size: 13px;
}
.blue_text{
  color: #0076BC;;
}
.Guardar_btn{
  background: #252772;
  color: white;
  border: 1px solid #252772;
  border-radius: 6px;
  padding: 3px 8px;
}
.heart_btn{
  background: none;
  border: none;
  color: #0077BD;
  font-size: 20px;
}
.bg_light{
background-color: #fafafa;
}
.side_banner{
  margin-left: 10px;
    margin-top: 73px;
}
.filterButton{
  border: none;
  border-radius: 3px;
  padding: 8px 23px;
  // margin-left: 64px;
}
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none; /* For Safari */
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #fff;
  border-color: #ccc;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #0076BC;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
::ng-deep .page-item .disabled{
  background-color: white;
}

::ng-deep .page-link {
  border: 0 !important;
  border: none !important;
  border-color: inherit !important;
  color: #504a4a !important;
  font-weight: 500;
  background: #fafafa
  }
  ::ng-deep .page-link span {
    
    color: grey !important;
    }
  ::ng-deep .active > .page-link, .page-link.active {
 color: white !important;
    background-color: #0076BC;
    border-radius: 5px;
    
}
.buscar_input:before {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 2px;
  height: 32px;
  background: #0076bc;
  z-index: 111111;
}
.Buscarr{
  height: 51px;
  border-right: none;
  border-radius: 0;
  }
  .Buscarr2{
    height: 51px;
    border-radius: 0;
    border-left: none;
    }
.buscar_input{
position: relative;
    width: 35%;
}
.search_input{
  position: absolute;
  color: #0076bc;
  top: 13px;
  left: 17px;
}
.border_right_none{
  border-right: none !important;
}
.border_left_none{
  border-left: none !important;
}
@media  screen and (max-width: 992px) {
  .banner2{
    display: none;
  }
}
@media  screen and (max-width: 768px) {
  .filterButton{
    border: none;
    border-radius: 3px;
    padding: 4px 11px;
    background: #0076bc;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}
  .banner{
    display: none;
  }
  .guardar_table{
    min-width: 410px ;
    overflow: scroll;
  }
  .words-container {
    display: flex;
    overflow: scroll;
  }
  .scroll-button{
    display: none;
  }
  .nav-tabs .nav-link{
    font-size: 14px;
    border: 1px solid #ededf4;
    padding: 3px 6px !important;
    margin: 2px 3px;
    border-radius: 7px;
}
.nav-tabs {
   background-color: white !important;
}
.Pagination_div {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 35px;
}
.font_14{
  font-size: 13px;
}
.Guardar_btn {
  background: #252772;
  color: white;
  border: 1px solid #252772;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 13px;
}
.font_14Media{
  font-size: 14px;
}
.word {
  flex: 0 0 auto;
  width: auto;
  text-align: center;
  padding: 1px 5px;
  border: 2px solid #ccc;
  margin: 0 3px;
  border-radius: 7px;
  font-weight: 600;
  color: #5e5555;
  font-size: 14px;
}
.sidebar {
  padding: 1px 20px 12px 7px;
}
  }
  @media  screen and (max-width: 576px) {
    .nav-tabs .nav-link{
      padding: 7px 5px;
      font-size: 12px;
  }
  .word {
    flex: 0 0 auto;
    width: auto;
    text-align: center;
    padding: 3px 6px;
    border: 2px solid #ccc;
    margin: 0 5px;
    border-radius: 7px;
    font-weight: 600;
    color: #5e5555;
    font-size: 12px;
}
  
  }
  @media  screen and (max-width: 609px) {
    ::ng-deep .page-link {
      font-size: 13px;
      padding: 9px;
  }
    .Buscarr{
      height: 37px;
      border-radius: 0;
      width: 100%;
      border-radius: 4px 0 0 4px;
    }
    .Buscarr2{
      height: 37px;
      border-radius: 0;
      width: 100%;
    }
      .select_input {
        width: 100%;
        border-radius: 5px !important;
        margin-bottom: 3px;
    }
    .search_input {
      position: absolute;
      color: #0076bc;
      top: 7px;
      left: 17px;
  }
    .buscar_input:before {
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        width: 2px;
        height: 25px;
        background: #0076bc;
        z-index: 111111;
    }
    .search {
      background: #252772;
      border-color: #252772;
      font-size: 15px;
  }
    .buscar_input{
  width: 40%;
    }
    .donde_div{
      width: 48%;
    }
    .buscar_input :before {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      width: 2px;
      height: 22px;
      background: #0076bc;
      z-index: 111111;
  }
  .search_input[_ngcontent-ng-c2309093079] {
    position: absolute;
    color: #0076bc;
    top: 7px;
    left: 17px;
  }
  .input-group{
    margin-bottom: 62px;
  }
  }
  @media (min-width: 609px) and (max-width: 768px) {
    .donde_div{
      width: 24px;
    }
  }
  .donde_div{
    width: 25%;

}
@media (min-width: 609px) and (max-width: 768px) {
  .donde_div{
    width: 40% !important;
  }
}
@media screen and (max-width: 567px) {
.donde_div{
  width: 49% !important;

}
}
@media screen and (max-width: 369px) {
  .donde_div{
    width: 45% !important;
  
  }
}
@media (min-width: 550px) and (max-width: 609px) {
  .donde_div{
    width: 52% !important;
  
  }
}
@media (min-width: 500px) and (max-width: 550px) {
  .donde_div{
    width: 50% !important;
  
  }
}
@media (min-width: 430px) and (max-width: 500px) {
  .donde_div{
    width: 48% !important;
  
  }
}