#footer{
    background-color: #1B1448;
    color: white;
    padding: 50px 0px;
}
#footer p{
    font-size: 12px !important;
    margin-bottom: 0px !important;
}
#footer h5{
    font-size: 18px;
    color: #0076BC !important;
}
.logo_text{
    color: white;
}
.highlight{
    color:#0076BC ;
}
.logo{
    max-height: 50px;
}