<section class="footer mt-2">
    <div class="content">
        <div class="row">
            <div class="col-md-3 col-6">
                <h5 class="mt-2 mb-0">Xavier Data</h5>
                <p>Lorem ipsum </p>
                <p>amet consectetur </p>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="mt-2 mb-0">adipisicing</h5>
                <p>ratione</p>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="mt-2 mb-0">Contáctanos</h5>
                <p>similique</p>
            </div>
            <div class="col-md-3 col-6">
                <img class="logo" src="../../../assets/Img/logo.png" alt="">
            </div>
        </div>
        <p class="mt-md-5 mt-4">Copyright &#64;2023 elit. Nisi dolores  quas  omnis soluta, placeat  tempore repudiandae autem minus</p>
    </div>
</section>
