.sectioned{
    padding: 0px 20px;
    border-right: 1px solid #ddd;
    margin: 24px 0;
    align-content: space-between;
}

.sectioned h5{
    font-size: 17px;
}
.sectioned p{
    font-size: 13px;
}
.heading_blue{
        font-size: 24px;
        margin: 0 8px;
        color: #0076BC;
}
.highlight{
  color: #00A8D3;
}
.banner {
    min-height: 500px;
    background: url('/assets/Img/bg.png') no-repeat center center; 
    background-size: cover; 
  }
  .banner_content{
    width: 882px;
    margin: auto;
    color: white;
    padding: 100px 0;
  }
  .banner_content h2{
    font-size: 60px;
  }

 
  .input_text{
    display: inline;
    background: white;
    color: black;
    padding: 12px 0 12px 18px;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 17px;
  }
  .search{
    background: #0076BC;
    border-color: #0076BC;
 
  }
  
  .bi-geo-alt{
    margin-right: 10px;
  }

  .input-group{
    height: 50px;
  }
  .placeholder-blue::placeholder {
    color:#0076BC;
  }
  .form-select{
font-weight: 500;
max-width: 250px;
  }
  .input-group .form-select.grey-background {
    background-color: #EDEDF4 !important;
    font-weight: 500 !important;
  }
  .buscar_input:before {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 2px;
    height: 32px;
    background: #0076bc;
    z-index: 111111;
}
.Buscarr{
  height: 51px;
  border-radius: 0;
  width: 136px;
  width: 275px;
}
.Buscarr2{
  height: 51px;
  border-radius: 0;
  width: 136px;
  // width: 200px;
}
.buscar_input{
  position: relative;
}
.search_input{
    position: absolute;
    color: #0076bc;
    top: 13px;
    left: 17px;
}
@media  screen and (max-width: 609px) {
  .Buscarr{
    height: 37px;
    border-radius: 0;
    width: 100%;
    border-radius: 4px 0 0 4px;
  }
  .Buscarr2{
    height: 37px;
    border-radius: 0;
    width: 100%;
  }
    .select_input {
      width: 100%;
      border-radius: 5px !important;
      margin-bottom: 3px;
      max-width: inherit;
  }
  .buscar_input[_ngcontent-ng-c1130260071]:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 2px;
    height: 27px;
    background: #0076bc;
    z-index: 111111;
}
.search_input[_ngcontent-ng-c1130260071] {
  position: absolute;
  color: #0076bc;
  top: 8px;
  left: 17px;
}
  .search_input[_ngcontent-ng-c102875723] {
    position: absolute;
    color: #0076bc;
    top: 7px;
    left: 17px;
}
  .buscar_input[_ngcontent-ng-c102875723]:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 2px;
    height: 24px;
    background: #0076bc;
    z-index: 111111;
}
  .buscar_input{
width: 40%;
  }
  .donde_div{
    width: 48%;
  }
  .buscar_input[_ngcontent-ng-c2309093079]:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 2px;
    height: 22px;
    background: #0076bc;
    z-index: 111111;
}
.search_input[_ngcontent-ng-c2309093079] {
  position: absolute;
  color: #0076bc;
  top: 7px;
  left: 17px;
}
}
  @media  screen and (max-width: 992px) {
   
   
    .banner_content{
        width: 671px !important;
        margin: auto;
    }
}
@media  screen and (max-width: 768px) {
 
 
  .banner_content{
      width: 541px !important;
      margin: auto;
  }
  .banner_content h2{
    font-size: 55px;
}
.sectioned{
  padding: 12px 20px;
  border: 1px solid #ddd;
  margin: 0px 0;
  align-content: space-between;
  background: #f9f9f9;
}
}
@media  screen and (max-width: 576px) {
 
  .banner_content{
      width: 350px !important;
    color: white;
    padding: 20px 0 40px;
  }
  .banner_content h2{
    font-size: 28px;
}
.input-group{
  height: 38px;
}
.input_text{
  padding: 12px 0 12px 5px;
  font-size: 12px;
}
.sectioned h5 {
  font-size: 11px;
  margin: 0;
}
.sectioned p {
  font-size: 11px;
  margin: 0;
}
.banner {
   min-height: 300px; 

}
.heading_blue{
  font-size: 20px;
  margin: 0 8px;
  color: #0076BC;
  font-weight: 500;
}

}
@media  screen and (max-width: 376px) {
  .donde_div{
    width: 45%;

}
.banner_content{
  width: 270px !important;
  color: white;
  padding: 20px 0 40px;
}
}