
<div class="banner">
<div class="banner_content">
    <h2>Encuentra</h2>
    <h2><span class="highlight">EMPRESAS</span> en Per&#768;u</h2>
    <div class="container mt-3 p-0">
        <div class="input-group">
          <select class="form-select">
            <option selected>Nombre o Rozon social</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <input type="text" class="form-control placeholder-blue" placeholder="Buscar">
          <input type="text" class="form-control placeholder-blue" placeholder="&#191;D&#768;onde?">
          <button class="btn btn-primary search" type="button"><i class="bi bi-search"></i></button>
        </div>
      </div>
      
</div>
</div>
<div class="features mt-md-5 mt-3">
    <div class="container ">
        <h2 class="heading_blue mb-3">Empresas agregadas recientemente</h2>
        <div class="row">
            <div class="col-md-2 col-4 sectioned">
              <h5>Estudio Sol Per&#768;u</h5>
              <p>hoy a las 11:44</p>
            </div>
            <div class="col-md-2 col-4 sectioned">
            <h5>Pesquera San Minguel</h5>
            <p>hoy a las 15:44</p>
            </div>
            <div class="col-md-2 col-4 sectioned">
                <h5>Clinica Santa Cruz</h5>
                <p>hoy a las 09:44</p>
            </div>
            <div class="col-md-2 col-4 sectioned">
                <h5>Restaurant</h5>
                <p>hoy a las 8:44</p>
            </div>
            <div class="col-md-2 col-4 sectioned">
                <h5>Galerias el Romano</h5>
                <p>hoy a las 07:44</p>
            </div>
            <div class="col-md-2 col-4 sectioned">
                <h5>Constructora</h5>
                <p>hoy a las 07:05</p>
            </div>
        </div>
    </div>
</div>

