.sectioned{
    padding: 0px 20px;
    border-right: 1px solid #ddd;
    margin: 24px 0;
    align-content: space-between;
}

.sectioned h5{
    font-size: 17px;
}
.sectioned p{
    font-size: 13px;
}
.heading_blue{
        font-size: 24px;
        margin: 0 8px;
        color: #0076BC;
}
.banner {
    min-height: 100vh;
    background: url('../../../assets/Img/bg.png') no-repeat center center; 
    background-size: cover; 
  }
  .banner_content{
    width: 882px;
    margin: auto;
    color: white;
    padding: 100px 0;
  }
  .banner_content h2{
    font-size: 60px;
  }
/* Styling for the select element */
#custom-select {
    background: rgba(255, 255, 255, 0.5); /* Translucent background */
    border: 1px solid #ccc; /* Border color */
    border-radius: 10px 0 0 10px; /* Rounded corners on the left side only */
    padding: 10px 30px; /* Padding for better spacing */
    outline: none; /* Remove default outline */
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow in Safari */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    background-clip: padding-box; /* Prevent background bleeding */
    position: relative; /* Needed for pseudo-element positioning */
    color: #333; /* Text color */
    font-size: 17px; /* Font size */
  }
  
  /* Create a custom arrow for the select element */
  #custom-select::after {
    content: '▼'; /* Custom arrow character */
    font-size: 12px; /* Adjust arrow size */
    color: #333; /* Arrow color */
    position: absolute; /* Absolute positioning */
    right: 10px; /* Positioning from the right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust to center */
    pointer-events: none; /* Ensure the arrow is not clickable */
  }
  
  #custom-select {
    padding-right: 30px;
  }
  
  /* Style the option elements */
  #custom-select option {
    background: rgba(255, 255, 255, 0.8); 
    color: #333; /* Text color */
  }
  .input_text{
    display: inline;
    background: white;
    color: black;
    padding: 12px 0 12px 18px;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 17px;
  }
  .search{
    background: #0076BC;
    padding: 12px 13px;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #0076BC;
  }
  .Buscar_text{
    color: #0076BC;
    padding-right: 250px ;
    border-right: 2px solid #0076BC;
  }
  .Donde_text{
    color: #0076BC;
    margin: 0 110px 0 25px;
  }
  .bi-geo-alt{
    margin-right: 10px;
  }
  